@tailwind base;
  @tailwind components;
  @tailwind utilities;



  :root  {
    --background: 230 12% 95%;
    --foreground: 230 5% 10%;
    --card: 230 12% 90%;
    --card-foreground: 230 5% 15%;
    --popover: 230 12% 95%;
    --popover-foreground: 230 95% 10%;
    --primary: 230 79% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 230 12% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 192 12% 85%;
    --muted-foreground: 230 5% 35%;
    --accent: 192 12% 80%;
    --accent-foreground: 230 5% 15%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 230 5% 90%;
    --border: 230 20% 50%;
    --input: 230 20% 18%;
    --ring: 230 79% 47%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 230 12% 10%;
    --foreground: 230 5% 90%;
    --card: 230 12% 10%;
    --card-foreground: 230 5% 90%;
    --popover: 230 12% 5%;
    --popover-foreground: 230 5% 90%;
    --primary: 230 79% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 230 12% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 192 12% 18%;
    --muted-foreground: 230 5% 60%;
    --accent: 192 12% 18%;
    --accent-foreground: 230 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 230 5% 90%;
    --border: 230 20% 18%;
    --input: 230 20% 18%;
    --ring: 230 79% 47%;
    --radius: 0.5rem;
  }
  
  

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }